body {
	background-color: gray;
	margin: 0;
	color: white;
}

a {
	color: lightblue;
}

.root {
	display: flex;
	height: 100vh;
	flex-direction: column;
	margin: auto auto;
	background-color: gray;
	box-sizing: border-box;
	justify-content: space-evenly;
	align-items: center;
}

.stimuli-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stimulus {
	width: calc(10vw + 150px);
	height: calc(10vw + 150px);
	margin: 20px;
	border-radius: 50%;
	border: 2px solid black;
}

.input-container {
	width: 100%;
}

.axis {
	display: flex;
	max-width: 700px;
	margin: 20px auto;
	justify-content: space-around;
}

.axis-label {
	margin-right: 10px;
}

.next-button{
	width: 100px;
	margin: 0 auto;
	text-align: center;
}

p {
	margin: 0 auto;
}

.fixation-point {
	text-align: center;
	font-size: 60px;
}

.text {
	max-width: 700px;
	line-height: 1.5em;
}
