$spacing-base: 2rem;


body {
	background-color: gray;
	margin: 0;
	color: white;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

hr {
	color: white;
	margin: $spacing-base 0;
}

a {
	color: lightblue;
}

.form-section h2 {
	margin-bottom: 0.5em;
}

.root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: auto auto;
	background-color: gray;
	box-sizing: border-box;
	justify-content: space-evenly;
	align-items: center;
}

.stimuli-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stimulus {
	width: calc(10vw + 150px);
	height: calc(10vw + 150px);
	margin: 20px;
	border-radius: 50%;
	border: 2px solid black;
}

.input-container {
	width: 100%;
}

.axis {
	display: flex;
	max-width: 700px;
	margin: 20px auto;
	justify-content: space-around;
}

.axis-label {
	margin-right: 10px;
}

.next-button{
	width: 100px;
	margin: 0 auto;
	text-align: center;
}

p {
	margin: 0 auto;
}

.fixation-point {
	text-align: center;
	font-size: 60px;
}

.text, .entry-form {
	max-width: 700px;
	
	background-color: rgba($color: #000000, $alpha: 0.2);
	padding: $spacing-base;
}

.text {
	line-height: 1.5em;
	font-size: 1.2rem;
}

.text p {
	margin-bottom: 1em;
}

.text p:last-child{
	margin-bottom: 0;
}

.entry-form label, input, .MuiIconButton-root, .MuiSelect-root, .MuiIconButton-root.Mui-checked{
	color: white !important;
	border-color: white;
}

label.MuiFormLabel-root{
	margin-top: $spacing-base;
	font-size: 1.2rem !important;
	line-height: 1.5em;
}

.MuiButton-fullWidth {
	margin-top: $spacing-base;
}
